@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-bg-color: #1a1b26;
  --main-border-color: #7aa2f7;
  --main-text-color: #c0caf5;
  --accent-text-color: #f7768e;

  font-family: 'Jetbrains Mono', monospace;
  font-size: normal;
  line-height: 1.5;
  font-weight: 400;

  color: var(--main-text-color);
  background-color: var(--main-bg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  text-align: left;
}

section {
  margin: 4ch 0 4ch 0;
  border: 1px solid var(--main-border-color);
  padding: 3ch 2ch;
  text-align: left;
}


h2 {
  color: var(--accent-text-color);
}

li,
p,
td {
  padding-left: 2ch;
}

td {
  vertical-align: top;
  padding-top: 1ch;
  padding-right: 1ch;
}

img {
  border: 1px solid var(--main-border-color);
}

a {
  text-decoration: underline;
  color: var(--accent-text-color)
}

@media (hover: hover) and (pointer:fine) {
  a:hover {
    background-color: var(--accent-text-color);
    color: var(--main-bg-color);
  }
}

a:active {
  background-color: var(--main-border-color);
  color: var(--main-bg-color);
}